* {
  padding: 0;
  margin: 0;
}

body {
  background-color: coral;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.4fr 1.4fr 1fr 0.3fr 0.1fr;
  grid-template-areas:
    "navegador navegador"
    "titulo titulo"
    "promos promos"
    "textos textos"
    "textos textos"
    "footer footer"
}

/*Tablet 800 px*/
@media screen and (min-width: 768px) and (max-width:1023){
  body{
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.8fr 0.5fr 0.1fr 0.1fr;
    grid-template-areas:
      "navegador"
      "titulo"
      "promos"
      "textoUno"
      "textoDos"
      "footer"
      
  }
 
  .promos{
    display: flex;
    flex-direction: column;   
  }

  .titulo{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  table{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

/*Celular 480 px*/

@media screen and (min-width:375px) and (max-width:767){
  body{
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.2fr 0.5fr 0.1fr 0.1fr;
    grid-template-areas:
      "navegador"
      "titulo"
      "promos"
      "textos"
      "textos"
      "footer"
  }
    
  .promos{
    display: flex;
    flex-direction: column;   
   
  }

  table{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

/*final*/

.promos{
  grid-area: promos;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
}

.promos:hover{
  transform: scale(1.1);
  transition: all 2s;
}

.titulo {
  background-image: url(../imagenes/fondos2.gif);
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  grid-area: titulo;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

.navegador{
  display: flex;

}

nav ul li {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  border: 1px solid black;
  margin-top: 10px;
  padding: 5px;
  margin-bottom: 20px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
 
}

nav ul a {
  text-decoration: none;
  color: white;

}

nav ul {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

nav ul a:hover {
  color: coral;
}

p {
  margin: 50px;
  padding-right: 20px;
  font-size: 30px;
  color: black;
}

.textos_ini{
  grid-area: textos;
  display: flex;

}


.parrafoDiferente {
  color: blue;
}

.carrito {
  position: fixed;
  height: 100px;
  top: 200px;
  right: 10px;
}

.pizzas {
  width: 300px;
  height: 300px;
  border-style: dotted;
  padding: 5px;
  margin: 30px;
}

.burguer {
  width: 300px;
  height: 250px;
  border-style: dotted;
  margin-left: 13%;
}

.empanadas {
  width: 300px;
  height: 200px;
  border-style: dotted;
}

table {
  margin-top: 30px;
  margin-left: 35%;

}

table th {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

table td {
  font-weight: bold;
  text-align: center;
}

.parrafocontacto {
  text-align: center;
}

footer {
  background-color: rgb(194, 124, 190);
  text-align: center;
  height: 45px;
  text-transform: uppercase;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

dd {
  margin: 5px;
  padding: 5px;
  padding-right: 20px;
  color: black;
}

